<%= form_with do |form| %>
<h1>Sign up</h1>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :confirmpassword %>
    <%= form.text_field :confirmpassword %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
